<!DOCTYPE html>
<html>
<head>
    <title>SinAime - Posts</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

    <meta property="og:title" content="SinAnime Official Site - Posts" />
    <meta property="og:description" content="SinAnime is a site that provide Sinhala subtitles for chinese donghua" />
    <meta property="og:image" content="{{url_for('static', filename='profile.png')}}" />
    <meta property="og:url" content="https://medusa.ranujasanmir.repl.co/" />
</head>
<body>

    
    <section class="hero">
        <div class="overlay"></div>
        <div class="hero-content">
            <h2>Welcome to SinAnime</h2>
            <p>Get Quality Sinhala Sub For Chinese Donghua</p>
            <a href="/" class="btn">Home</a>
            <a href="/about-us" class="btn">About Us</a>
            <a href="https://t.me/PixCap_TM" class="btn">Contact on Telegram</a>
        </div>
    </section>
    <h2>Latest Posts</h2>
    
    {% for news in post %}
            
    <a href="{{ news.link }}">            
           
           <div class="post">
    <div class="author">
      <img class = "aimg" src="{{url_for('static', filename='profile.png')}}" alt="Author Profile Picture">
      <b><span class="author-name"><h3>{{ news.author }}</h3></span></b>
      {% if news.verified == "True" %}
      <img class="badge" src="{{url_for('static', filename='verify.png')}}" alt= 'Verify Badge'>
      {% endif %}
      {% if news.ads == "True" %}
      <span class="ads-badge">Ads</span>
      {% endif %}
      <p style="color: gray;">- {{ news.date }}</p>
    </div>
    <h5 class="post-title">{{ news.title }}</h5>
    <p class="post-description">{{ news.content }}</p>
    <img class="post-image" src="{{ news.img }}" alt="Post Image">
  </div>
  </a>
        {% endfor %}
    
    <footer>
        <p>© 2023 SinAnime. All rights reserved.</p>
        <p style="font-size: 12px;">All sub files are hosted on third party servers | This site may show ads</p>
    </footer>
</body>

</html>
